body{
    background-color: #91c4f2;
}

h1{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2%;
    border-style: solid;
    border-color: #84679e;
    background-color: #84679e;
    color: white;
}

p{
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 270%;

}